<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each snack }}
<h3>----------------------------------------</h3>
<h4>Name {{name}} </h4>
<h4>Is Done {{done}} </h4>
<h3>----------------------------------------</h3>

{{/each}}