<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

<style>
    .eaten {
        width: 50%;
        float: left;
        padding: 20px;
        color: #19194D;
        font-size: 14px;
    }

    .notEaten {
        width: 50%;
        float: left;
        padding: 20px;
        color: #19194D;
        font-size: 14px;
    }

    .head {
        color: #19194D;
        font-size: 18px;
    }

    .hide {
        visibility: none;
    }
</style>


<div class="notEaten">
    <strong><p class="head">Snacks Available to Eat</p>
    <h3>----------------------------------------</h3></strong> {{#each snack }} {{#unless this.eaten}}
    <form action="/snack/eat/{{this.id}}" method="post">

        <h4>Name : {{this.name}} <button id="eat" value="1" type="submit"> eat </button> </h4>
        <input id="snackid" class="hide" value=""></input>
        <h3>----------------------------------------</h3>
    </form>
    {{/unless}} {{/each}}
</div>

<div class="eaten">
    <strong><p class="head">Snacks Already Eaten</p>
    <h3>----------------------------------------</h3></strong> {{#each snack }} {{#if this.eaten}}
    <h4>Name : {{this.name}} </h4>
    <h3>----------------------------------------</h3>
    {{/if}} {{/each}}
</div>